body {
  background-image: url(img/fond.jpg);
}
.dark-mode {
  background-image: none;
  background-color: #000;
  color: blanchedalmond !important;
}
.dark-mode h1 {
  color: blanchedalmond !important;
}
.dark-mode h2 {
  color: blanchedalmond !important;
}
.dark-mode h3 {
  color: blanchedalmond !important;
}
.dark-mode h4 {
  color: blanchedalmond !important;
}
.dark-mode h5 {
  color: blanchedalmond !important;
}
.dark-mode h6 {
  color: blanchedalmond !important;
}
.dark-mode a {
  color: blanchedalmond !important
  ;
}

/*FIRST MOBILE*/

@media (max-width:600px) {
  
     /*BOUTON BURGER*/

     #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #bebbbb;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__box a {
      color: black !important;
      text-decoration: none;
    }
    li {
      color: black !important;
      margin-left: 15px;
      font-size: 30px;
    }
    li:not(:last-child) {
      margin-bottom: 5px;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color:#1B9BA7;
    }

    /*FIN BOUTON BURGER*/

    #theme-btn {
      align-items: center !important;
    }

    /*BOUTONDARKMODE*/
    .btn-darkMode {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-left: 120px;
      margin-right: 120px;
      border: 3px black solid;
      border-radius: 10%;
      box-shadow: 12px 5px 5px rgb(50, 46, 46);
      }
    /*FIN__BOUTONDARKMODE*/

    #headctr {
        font-family: 'Raleway', sans-serif;
        margin-top: 10px !important;
        padding: 1em 2em;
        font-size: 18px;
        background: black;
        color: #bebbbb;
        height: 440px;
    }
    
    h1 { 
        font-size: 2.5em;
        margin-top: 30px;
    }

   

    #logo{
      position:absolute;
      margin-top: 30px !important;
      margin-left: 260px !important;
    }
 
    /*Section 1*/

    #maphoto {
      max-width: 90%;
      background-color: transparent !important;
    }
    /*animation maphoto*/

    

    h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:xx-large;
      text-align: center;
    }
    #moi {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size:medium;
      text-align: center;
    }
    /*section 2*/

    #section-2 {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .img {
      max-width: 90%;
    }
    #right h4 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 12%;
      color: #000;
    }
    #right h5 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 12%;
      color: #000;
    }
    #right h3 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: large;
      color: #000;
      text-align: center;
    }
    #right p {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 12%;
      margin-right: 10%;
    }

    #section-4 h4 {
      text-align: center;
    }
    #section-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    .icon {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: center;
    }
    #contact {
      text-align: center;
      font-size: 15px;
    }
    .cv {
      text-align: center;
    }
    .footer {
      text-align: center;
    }

 /*buton*/


    
}/*FIN FIRST MOBILE*/

 /*DEBUT TABLETTE*/
 
@media (min-width:601px) {

  /*nav*/
  .menu__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 14px;
    gap: 10px;
    list-style: none;
    color: white;
    text-shadow:
             -1px -1px 0 #000,
             1px -1px 0 #000,
             -1px  1px 0 #000,
             1px  1px 0 #000;
    
  }
  .menu__box a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 15px;
  }
  /* navbar */

  body {
      margin: 0;
      position: relative;
  }

  #menu__toggle {
      display: none;
  }
    /*body*/
    #headctr {
      font-family: 'Raleway', sans-serif;
      padding: 1em 2em;
      font-size: 18px;
      background: black;
      color: #bebbbb;
      height: 330px;
  }
  h1 { 
      font-size: 2.5em;
      margin-top: 35px;
      width: 350px !important;
  }
  #logo{
    position:absolute;
    width: 200px;
    height: 200px;
    margin-top: 30px !important;
    margin-left: 560px !important;
  }
  picture{
    width: 99%;
  }

   /*BOUTONDARKMODE*/
   .btn-darkMode {
    margin-left: 320px;
    margin-right: 320px;
    border: 3px black solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 12px 5px 5px rgb(50, 46, 46);
  }
  /*FIN__BOUTONDARKMODE*/

  /*section 1*/
  #section-1 {
    display: flex;
    flex-direction: row;
  }

    #maphoto {
      width: 300px;
      height: 300px;
      background-color: transparent !important;
    }
    h2 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:xx-large;
      justify-content: center;
    }
    #moi {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-right: 5px;
      margin-top: 10px;
    }
     /*section 2*/

     #section-2 {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
    .img {
      max-width: 90%;
    }
    #right h4 {
      font-size: 16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 12%;
      color: #000;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #right h5 {
      font-size: 14px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 12%;
      color: #000;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #right h3 {
      font-size: 14px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: large;
      color: #000;
      margin-left: 11%;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    #right p {
      font-size: 17px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 12%;
      margin-right: 10%;
    }

    #section-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 8px;
    }
    #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #contact {
      text-align: center;
      font-size: large;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #section-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .icon {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: center;
    }
    .cv {
      text-align: center;
    }
    .footer {
      text-align: center;
    }


}/*FIN TABLETTE*/

  /*VERSION PC*/

  @media (min-width:1000px) {
    body {
        margin: 0;
        position: relative;
    }
    
    #menu__toggle {
        display: none;
    }
    
    .menu__box a {
      color: rgb(255, 255, 255) !important;
      text-decoration: none;
      font-size: 20px;
    }

      /*body*/
    #headctr {
      font-family: 'Raleway', sans-serif;
      padding: 1em 2em;
      font-size: 18px;
      background: black;
      color: #bebbbb;
      height: 330px;
    }
    h1 { 
        font-size: 2.5em;
        margin-top: 35px;
        width: 350px !important;
    }
    #logo{
      position:absolute;
      width: 200px;
      height: 200px;
      margin-top: 30px !important;
      margin-left: 900px !important;
    }
    

     /*BOUTONDARKMODE*/
     .btn-darkMode {
      margin-left: 580px;
      margin-right: 580px;
      border: 3px black solid;
      border-radius: 10%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      box-shadow: 12px 5px 5px rgb(50, 46, 46);
    }
    /*FIN__BOUTONDARKMODE*/
  
    /*section 1*/
    #section-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0 !important;
      
    }
  
      #maphoto {
        width: 300px;
        height: 300px;
        background-color: transparent !important;
        margin-left: 60px;
      }
      h2 {
        margin-top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:xx-large;
        justify-content: center;
        
      }
      #moi {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-right: 20px;
        margin-left: 73px;
        margin-top: 10px;
        max-width: 80%;
        width: 750px;
      }
       /*section 2*/
  
       #section-2 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-left: 20px;
      }
      .img {
        max-width: 90%;
      }
      #right h4 {
        font-size: x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 12%;
        color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #right h5 {
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 12%;
        color: #000;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #right h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-large;
        color: #000;
        margin-left: 11%;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      #right p {
        font-size: 21px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 12%;
        margin-right: 10%;
      }
      #left {
        width: 80%;
      }
  
      #section-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 8px;
        margin-right: 20px;
      }
      #container {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
  
      #section-4 h4 {
        text-align: center;
      }
      #section-4 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
      }

      #contact {
        text-align: center;
        font-size: x-large;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .icon {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
      }
      .cv {
        text-align: center;
        font-size: small;
      }
      .footer {
        text-align: center;
      }

}/*FIN*/